* {
    box-sizing: border-box;
}

.box {
    margin: 30px auto;
    width: 600px;
    border: 1px solid #333;
}

.box01 {
    margin: 40px;
    background: #ff0;
}

.box02 {
    padding: 30px;
    background: #f00;
}

.box03 {
    display: block;
    padding: 100px 30px;
    margin: 100px auto;
    background: #00f;
}