@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

@import url('https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

body {
    font-family: 'Noto Sans KR', sans-serif;
}

#event {
    padding: 100px 0;
    text-align: center;
}

#event i {
    background: #333;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
}

#event h2 {
    font-size: 21px;
    font-weight: 700;
    margin: 0 0 10px 0;
    /*마진은 큰 거 하나만 적용되므로 한 방향으로 하는게 좋음*/
}

/*웹표준에 어긋나지않는 가상요소(선) 만들기*/
#event h2::before {
    content: "";
    display: inline-block;
    width: 100px;
    height: 1px;
    background: rgb(83, 164, 179);
    margin: 0 10px;
    vertical-align: middle;
}

#event h2::after {
    content: "";
    display: inline-block;
    width: 100px;
    height: 1px;
    background: rgb(83, 164, 179);
    margin: 0 10px;
    vertical-align: middle;
}


#event p {
    font-size: 15px;
    /*노토산스의 짝수 크기 가독성이 떨어져서 홀수로 쓴다 21px, 15px ..*/
    font-weight: 300;
    margin: 0 0 30px 0;
    line-height: 1.4;
}

#event .container {
    display: flex;
    gap: 30px;
    width: 1200px;
    margin: 0 auto;
}

#event img {
    max-width: 100%;
    /*width 100% 는 부모에게 상속받는 값이다. 따라서 100%는 1200px*/
    transition: 0.5s;
}

#event figure {
    position: relative;
    /*relastive 를 주면 이 항목이 absolute의 기준이 된다.*/
    flex: 1;
    overflow: hidden;
    /*1:1:1 ... flex 2와 1을 주면 2:1로 나뉘어짐.*/
}

#event .container figure:hover img {
    transform: scale(2);
}

/*transform은 박스를 변형시키지 않는다. 레이아웃 변형을 하지 않는다.*/

#event figure a {
    /*박스를 가운데 오게하는 공식 margin: 0 auto*/
    position: absolute;
    top: -40px;
    left: 0;
    padding: 10px 30px;
    height: 30px;
    background: #333;
    color: #fff;
    transition: 0.5s
}

#event figure:hover a {
    top: 0
}