.popup {
    /*팝업 박스를 중앙으로 오게 하는 공식*/
    position: absolute;
    top: 50%;
    /*body의 50%*/
    left: 50%;
    /*body의 50%*/
    transform: translate(-50%, -50%);
    /*transform은 자기 자신을 바꾸는 것, translate(x,y)*/
    /*팝업 박스를 중앙으로 오게 하는 공식*/
    height: 350px;
    background: red;
    width: 450px
}

.popup button {
    position: absolute;
    bottom: 15px;
    right: 15px
}