.tornado .word {
        position: relative;
        z-index: 1;
        font-family: 'Titillium Web', sans-serif;

}

.tornado .word:before {
        content: '';
        border-radius: 0%;
        width: 80px;
        height: 80px;
        position: absolute;
        z-index: 1;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-40%, -35%);
        transform: translate(-40%, -35%);
        -webkit-filter: blur(0.5px);
        filter: blur(0.5px);
        font-size: 50px;
}

.tornado span {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        font-size: 17px;
        color: rgba(255, 255, 255, 0.8);
        font-weight: 300;

}

.tornado {
        margin: 0;
        padding: 0;
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        font-weight: 400;
        font-size: 22px;
        background: #000;
        color: #fff;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        transform: translateY(40px);
}