/** {
    outline: 1px solid #f00;
}*/

html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    letter-spacing: -0.025rem;
}


.Wrap {
    position: relative;
    min-width: 192rem;
}


#header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 999;
}


#header h1 {
    transform: translateY(-25%);
    font-size: 0;

}

#header img {}


#header .top>ul {
    display: flex;
    gap: 3rem;
    width: 20rem;
    line-height: 5rem;




}


.gnb a {
    display: block;

}

#header .top {
    padding: 0 21.7rem;
}

#header .top .right {
    font-size: 1.5rem;
    font-weight: 300;
    color: rgb(255, 255, 255, 0.5);
    width: 50rem;
    margin: 0 -7rem 0 auto;


}

#header .top i {
    transform: translate(35%, 10%);
    font-size: 2.1rem;
}

.gnb a {
    display: block;
}

.gnb {
    position: relative;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);



}

.gnb .box {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 155rem;

}

.gnb .box>ul {
    display: flex;
    gap: 5rem;
    text-align: center;
    font-weight: 500;
    font-size: 1.7rem;
    font-weight: 400;
    color: #fff;
    line-height: 5.2rem;
    transform: translateX(-5%);


}

.gnb .box>ul>li {
    position: relative;



    /*border-right: 1px solid #ddd;*/


}

/*.gnb .box>ul>li:last-child {
    border-right: 1px solid #ddd;
}*/




#header .box>ul>li:hover .smenu {
    display: block;
}

#header .gnb a {
    display: block;

}

#header .gnb .smenu {
    position: absolute;
    top: 5rem;
    left: 50%;
    display: none;
    transform: translateX(-50%);
    border-top: 0.3rem solid #00256c;
    background: rgb(0, 0, 0, 0.3);
    line-height: 3.5rem;
    width: 15rem;
    z-index: 999;
    text-align: center;
    font-size: 1.5rem;


}

#header .gnb .smenu li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding: 0.5rem 0;
    font-weight: 300;
    font-size: 1.5rem;
}

.mbtn {
    display: none;
}

.sitemap {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    width: 120rem;
    padding: 5rem 3rem;
    z-index: 999;
    line-height: 3rem;
    font-weight: 200;
    border-radius: 1rem;

}

.sitemap .container {
    display: flex;
    justify-content: center;
    gap: 3rem;
    font-weight: 400;
    font-size: 2.1rem;




}

.sitemap .smenu {
    font-size: 1.5rem;
    font-weight: 300;
    margin: 0 0 1rem 0;
    padding: 1rem 0 0 0;
    color: #ddd
}

.sitemap i {
    position: absolute;
    top: 3rem;
    right: 4rem;
}

#main {
    padding-top: 0;
    padding-bottom: 0;
}


#main-visual {
    position: relative;
    height: 100vh;
    background: #333;
    color: #fff;

}

#main-visual figure {
    height: 100vh;
    transition: 5s linear;
    background-size: 100%;
    background-position: center center;
}



#main-visual .visual_01 {
    background-image: url(../img/main_slider01.jpg)
}

#main-visual .visual_02 {
    background-image: url(../img/main_slider02.jpg)
}

#main-visual .visual_03 {

    background-image: url(../img/main_slider03.jpg)
}

#main-visual figure.on {
    background-size: 110%;
}


#main-visual .slogan-text {
    position: absolute;
    bottom: 5rem;
    left: 35%;
    padding: 0 0.75rem;
    text-align: left;
    width: 120rem;
    transform: translateX(-50%);

}

#main-visual .inner {
    position: absolute;
    left: 50%;
    bottom: 10%;
    padding: 0 0.75rem;
    width: 120rem;
    transform: translate(-11.2%, 0%);

}

#main-visual .inner ul {
    display: flex;
    gap: 3rem;
    line-height: 5rem;
}

#main-visual .inner ul li {
    border-bottom: 1px solid rgb(255, 255, 255, 0.3);
    font-size: 2.5rem;
    width: 20rem;
    font-weight: 400
}

#main-visual .inner ul li a {
    float: right;
}

#main-visual .inner ul li span {
    font-family: xeicon;

}


#main-visual h2 {
    margin: 0 0 0.5rem 6.8rem;
    font-size: 6rem;
    font-weight: 900;
    letter-spacing: 0.2rem;
    font-size: 0;

}

#main-visual span {
    font-family: xeicon;

}

#main-visual p {
    text-indent: -1rem;
    font-size: 2rem;
    font-weight: 100;
    margin: 0 0 1.5rem 9rem;
}

#main-visual .slick-dots {
    position: absolute;
    bottom: rem;
    width: 100%;
    text-align: center;
    font-size: 0;

}

#main-visual .slick-dots button {
    display: none;
}

#main-visual .slick-dots li {
    display: none;
    width: 64rem;
    height: 0.25rem;
    background: #f2f2f2;
    cursor: pointer;
}

#main-visual .slick-dots {
    position: absolute;
    height: 0.7rem;
    background: transparent
}

#main-visual .slick-dots::after {
    content: "";
    position: absolute;
    bottom: 0.7rem;
    left: 0;
    width: 0;
    height: 1rem;
    background: #fff;
}

#main-visual .slick-dots.on::after {
    width: 100%;
    transition: 5.2s;
}

#main-visual i {
    position: absolute;
    top: 50%;
    left: 95%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    font-weight: 100;
    padding: 1rem;
    cursor: pointer;
    z-index: 333;
    font-size: 7rem;



}

#main-visual i.xi-angle-left-thin {
    margin-left: -175rem
}

#main-visual i.xi-angle-right-thin {
    margin-left: 0rem
}


.product {
    padding: 10rem 0;




}

.now {
    padding: 0 0 10rem 0;
    position: relative;
}

.product h2::after {
    position: absolute;
    content: "";
    width: 30rem;
    height: 1px;
    inset: 50% 0 0 50%;
    transform: translate(-50%, 0.8rem);
    background: #ccc
}

.product p {
    text-align: center;
    width: 10rem;
    margin: 0 auto;
    line-height: 3rem;

}

.now .product_pic {

    margin: 0 auto;
    gap: 3rem;



}

.now .product_pic .box {
    border-radius: 1rem;
    padding: 10rem 0 4rem 0;
}

.now .product_pic figure {
    position: relative;
    z-index: 999;
    padding: 0 5rem;
    flex: 1;






}

.now .product_pic figure img {
    transform: translateX(0%);
    border-radius: 1rem;
    margin: 0 0 1rem 0;
    transition: 0.5s;


}


.now .product_pic figure.slick-center img {

    transform: scale(1.2);
    transition: transform 0.5s;
}

.now .product_pic figure:hover img {
    transform: scale(1.2);
    filter: brightness(0.5);
    cursor: pointer;

}


.now .product_pic figure span {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -150%);
    font-size: 1.5rem;
    font-weight: 300;
    opacity: 0;
    color: #FFF;
    width: 20rem;

    height: 5rem;
    cursor: pointer;
    text-align: center;
    line-height: 5rem;
    z-index: 999;

}

.now .product_pic figure span::after {
    position: absolute;
    content: "";
    width: 18rem;
    height: 3rem;
    inset: 50% 0 0 50%;
    transform: translate(-50%, 3.5rem);
    background: #fff;
    /*border: 1px solid #fff;*/
    opacity: 0.3;
    border-radius: 3rem;

}

.now .product_pic figure:hover span {
    opacity: 1;

}

.now .product_pic .slick-dots {
    text-align: center;
    transform: translateY(250%);
}

.now .product_pic .slick-dots li {
    display: inline-block;
    margin: 0 0.2rem;
}

.now .product_pic .slick-dots li button {

    border: none;
    outline: none;
    background: #00256c;
    padding: 0;
    vertical-align: top;
    color: #fff;
    border-radius: 0.2rem;
    width: 2rem;
    height: 2rem;
    font-size: 1.2rem;
    line-height: 2rem;
}

.now .product_pic .slick-dots li.slick-active button {

    background: #ccc;
}

.now .productArrows {
    position: relative
}

.now .productArrows i {
    position: absolute;
    inset: 50% auto auto 50%;
    transform: translate(-50%, 50%);
    font-size: 3rem;
    background: #ddd;
    color: #fff;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.now .productArrows i:nth-child(1) {
    margin: 0 0 0 -54.5rem;
}

.now .productArrows i:nth-child(2) {
    margin: 0 0 0 54.5rem;
}

.sub_title {
    position: relative;
    text-align: center;
    margin: 0 0 5rem 0;

}

.sub_title h2 {
    font-size: 2.7rem;
    color: #333;
    line-height: 5rem;
    font-weight: 700;
}

.sub_title h3 {
    font-size: 1.7rem;
    color: #333;
    font-weight: 300;
    line-height: 25px;
}

.sub_title p {
    font-size: 1.7rem;
    color: #333;
    font-weight: 200;


}


.sub_title p::after {
    position: absolute;
    content: "";
    width: 28rem;
    height: 1px;
    inset: 50% 0 0 50%;
    transform: translate(-50%, rem);
    background: #DDD
}


.now .product_pic figure h3 {
    font-size: 1.9rem;
    font-weight: 700;
    text-align: center;
    line-height: 3rem;
    letter-spacing: 0.1rem;

}

.now .product_pic figure p {
    font-size: 1.1rem;
    width: 20rem;
    line-height: 2rem;
}

.now h4 {
    font-weight: 300;
    position: relative;
    text-align: center;
    margin: 0 0 2rem 0;


}

.now h4::after {
    position: absolute;
    content: "";
    width: 30rem;
    height: 0.3px;
    inset: 170% 0 0 50%;
    transform: translate(-50%, -50%);
    background: rgb(204, 204, 204)
}

.now .price ul {
    display: flex;
    justify-content: space-between;
    margin: 0 0 2rem 0;
    font-weight: 500;
    font-size: 1.3rem;
}

.video {
    position: relative;
    background: #f9f9f9;
    padding: 10rem 0;
}

.movie {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: calc(100vh - 10.2rem);
    text-align: center;
    color: #fff;
    z-index: 77;
    border-radius: 10rem;
    object-fit: cover;
    transition: all 1s;
}

.movie.on {
    transition: all 1s;
    transform: translateX(-129rem);
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000);

}



/*  
*/

.mbYTP_wrapper {
    border-radius: 1rem;
}


.video .controls {
    font-size: 3rem;
    line-height: 10rem;
    margin: 0 0 10rem 0
}

.movie .player i {
    font-size: 2rem;

}

.movie .player span {
    font-size: 2.5rem;
    font-family: 'Noto Serif KR', serif;
    line-height: 3.2rem;
    font-weight: 700;
}

.video .player h2::after {

    position: absolute;
    content: "";
    width: 27rem;
    height: 1px;
    inset: 50% 0 0 50%;
    transform: translate(-50%, 6.1rem);
    background: #ccc;

}

.movie .player p {
    font-size: 1.3rem;
    font-weight: 300;
    margin: 0 0 2rem 0;
}

.video .sub_title {
    margin: 0 0 8rem 60rem;
    font-size: 1.5rem;
    color: #000;
    font-weight: 300;
    line-height: 2.5rem;
}

.video .sub_title h2::after {
    position: absolute;
    content: "";
    width: 30rem;
    height: 1px;
    inset: 50% 0 0 50%;
    transform: translate(-50%, 8px);
    background: #ccc
}


.video .container {
    position: relative;
    max-width: 60%;
    min-width: 78rem;
    margin-left: auto;
}

.video .text h2 {
    font-size: 4.1rem;
    font-weight: 700;
    color: #333;
    line-height: 6rem;
    margin: 0 0 0 60rem;
    text-align: center;
}

.video .text p {
    font-size: 1.9rem;
    font-weight: 300;
    color: #333;
    margin: 0 0 11rem 60rem;
    text-align: center;
}


.video .fly {}

.video .fly .content {
    display: flex;
    gap: 4rem;
    margin: 0 0 5rem 0;

}

.video .fly h3 {
    display: block;
    font-size: 1.7rem;
    font-weight: 500;
    color: white;
    transform: translate(-15rem, 2.5rem);
    text-align: right;
}


.video .fly img {
    border-radius: 1rem;
    width: 30rem;
    height: 22rem;


}

.video .fly .inner {

    /* border: 1px solid #ccc;*/
    border-radius: 1rem;
    width: 10rem;
    transform: translateY(-1.5rem);

}



.video .fly .inner ul {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 3.5rem;
    display: flex;
    justify-content: space-around;
    width: 70rem;
    border-bottom: 0.5px solid #ddd;
    transform: translateY(1.5rem);
    margin: 0 0 2rem 0;


}

.video .fly .inner ul li {
    flex: 1;
}

.video .fly .inner ul li:nth-child(2) {
    font-weight: 400;
}




.video .fly .inner ul li strong {
    color: #999;
    font-weight: 300;
}

.video .fly .inner ul li span {
    font-family: xeicon;
}

.video .productArrows {
    position: relative
}

.video .productArrows i {
    position: absolute;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -100%);
    font-size: 3rem;
    background: #ddd;
    color: #fff;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.video .productArrows i:nth-child(1) {
    margin: 0 0 0 -21.6rem;
}

.video .productArrows i:nth-child(2) {
    margin: 0 0 0 33.5rem;
}


/*.video .fly .inner ul>li:nth-child(1) {
    padding: 0 13rem 0 0;
    border-right: 1px solid #ccc;
}

.video .fly .inner ul>li:nth-child(2) {
    padding: 0 13rem 0 0;
    border-right: 1px solid #ccc;
}*/


.news {
    padding: 10rem 0;
    position: relative;


}

.news h2 {
    margin: 0 0 6rem 0;
    font-size: 2.7rem;
    font-weight: 700;
    color: #333;
    text-align: center;
}

.news .select {
    display: flex;
    justify-content: space-between;
    width: 120rem;
    margin: 0 auto;
}

.news .more {
    font-size: 1.5rem;
    font-weight: 300;
    height: 2.5rem;
    line-height: 2.5rem;
}

.news .select ul {
    display: flex;
    gap: 3rem;
    font-size: 1.7rem;
    font-weight: 500;
    height: 2.5rem;
    line-height: 2.5rem;
    margin: 0 0 4rem 0;
}


.news .select ul>li.on {
    background: #00256c;

    color: #fff;
    width: 10rem;
    text-align: center;
}

.case {
    width: 120rem;
    display: flex;
    overflow: hidden;
    margin: 0 auto;


}

.case>* {
    min-width: 0;
}

.board {

    margin: 0 auto;
    position: relative;
    flex: 3;

}

.board .script {
    width: 27rem;
}

.board .script .sub_title {
    display: flex;
    gap: 1.7rem;

}

.board .script figure {

    margin: 0 0 1.7rem 0;
}

.board .script figure img {
    border-radius: 1rem;
    width: 27rem;
    height: 19rem;
}


.board .script span {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0 0 1rem 0;
    width: 6.7rem;
    text-align: left;
}

.board .script .caption {
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 1.5rem;
}

.board .script h3 {
    font-size: 2.1rem;
    margin: 0 0 2rem 0;
    line-height: 3rem;
    letter-spacing: -0.025em;
}

.board .script p {
    font-size: 1.3rem;
    font-weight: 300;
    color: #8d8d8d;
    margin: 0 0 2.5rem 0;
    line-height: 1.9rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    min-width: 0;
    width: 28rem;
}

.board .script .keyword {
    font-size: 1.3rem;
    font-weight: 500;
    color: #8d8d8d;
    margin: 0 0 6.3rem 0;

}

.board .script .news_more {
    font-size: 1.3rem;
    font-weight: 500;
    margin: 0 0 6.4rem 0;
    border: 0.2rem solid #ddd;
    display: inline-block;
    padding: 1rem 2rem;


}




.board .script .keyword {
    font-size: 1.3rem;
    font-weight: 500;
    color: #8d8d8d;
    margin: 0 0 6.3rem 0;

}



.board .script::after {
    content: "";
    display: block;
    width: 27rem;
    height: 1px;
    background: #00256c;


}



.nemo {
    background: #00256c;
    border-radius: 1rem;
    flex: 1;
}

.nemo h3 {
    padding: 6rem 0 0 0;
    font-size: 3.5rem;
    font-weight: 700;
    color: #fff;
    text-align: center;
    margin: 0 0 0.5rem 0;


}

.nemo p {
    text-align: center;
    font-size: 1.7rem;
    font-weight: 300;
    color: #fff;
    margin: 0 0 7rem 0;

}






.nemo::after {
    content: "";
    display: block;
    width: 30rem;
    height: 1px;
    background: #FFF;


}

.nemo .productArrows {
    position: relative;
}

.nemo .productArrows i {
    position: absolute;
    left: 81.5%;
    bottom: -33rem;
    transform: translate(-50%, 50%);
    font-size: 2rem;
    color: #fff;
    border-radius: 0.5rem;
    padding: 0.5rem;
    line-height: 1.4rem;

}

.nemo .productArrows i:nth-child(1)::after {

    position: absolute;
    content: "back";
    display: block;
    left: 1.4rem;
    top: 2.7rem;
    transform: translate(-50%, -50%);
    font-weight: 100;


}

.nemo .productArrows i:nth-child(2)::after {

    position: absolute;
    content: "next";
    display: block;
    left: -0.2rem;
    top: 2.1rem;
    font-weight: 100;




}

.nemo .productArrows i:nth-child(1) {
    margin-left: -19rem;
}

.nemo .productArrows i:nth-child(2) {
    margin-right: 1rem;
}


.Premium {

    background: #f9f9f9;
    padding: 10rem 0;
    text-align: center;
}


.Premium .dec {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0 0 4rem 0;
    line-height: 1.5;
    color: #333;
}

.Premium .container {
    display: flex;
    width: 120rem;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 3rem;
}

.Premium h2 {
    position: relative;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin: 0 0 2rem 0;
    color: #333;
}

.Premium h2::after {
    position: absolute;
    content: "";
    width: 30rem;
    height: 1px;
    inset: 50% 0 0 50%;
    transform: translate(-50%, 2.5rem);
    background: #ccc
}

.Premium h3 {
    font-size: 1.7rem;
    font-weight: 300;
    text-align: center;
    margin: 0 0 8rem 0;
    color: #333;
}

.Premium p {

    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
    margin: 0 0 4rem 0;
    color: #333;
}

.Premium strong {
    display: block;
    margin: 0 0 1rem 0;
    font-size: 1.4rem;

}


.Premium .container figure {
    position: relative;
    width: calc(50% - 1.5rem);


}

.Premium .container figure::before {
    content: "";
    position: absolute;
    width: 15rem;
    height: rem;
    border-top: 2rem solid #00256c;
    border-bottom: 2rem solid #00256c;
    border-left: 2rem solid #00256c;
    border-right: 2rem solid transparent;
    top: 1rem;
    left: -2rem;
    z-index: 999;


}


.Premium .container figure::after {
    content: attr(data-title);
    position: absolute;
    top: 2.2rem;
    left: -0.8rem;
    z-index: 999;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 300;
    letter-spacing: 0.1rem;

}

.Premium .container .box {
    overflow: hidden;
    margin: 0 0 2rem 0;
    width: 57rem;
    height: 32rem;
    border-radius: 1rem;

}

.Premium .container .dec {
    width: 55rem;
}

.Premium .container .box img {
    transition: 0.5s;
}

.Premium .container .box:hover img {
    transform: scale(1.07);
}

.Premium figure:nth-child(1) {
    transform: translate(-5rem, 0);
    opacity: 0;
    transition: 0.5s;
}

.Premium.on figure:nth-child(1) {
    transform: translate(0, 0);
    opacity: 1;
}

.Premium figure:nth-child(2) {
    transform: translate(0, -5rem);
    opacity: 0;
    transition: 0.5s;
}

.Premium.on figure:nth-child(2) {
    transform: translate(0, 0);
    opacity: 1;
    transition: 0.5s 0.5s;
}

.Premium figure:nth-child(3) {
    transform: translate(0, 5rem);
    opacity: 0;
    transition: 0.5s;
}

.Premium.on figure:nth-child(3) {
    transform: translate(0, 0);
    opacity: 1;
    transition: 0.5s 1s;
}

.Premium figure:nth-child(4) {
    transform: translate(5rem, 0);
    opacity: 0;
    transition: 0.5s;
}

.Premium.on figure:nth-child(4) {
    transform: translate(0, 0);
    opacity: 1;
    transition: 0.5s 1.5s;
}


#footer {
    background: #333;
    color: #fff;
    line-height: 8rem;
    font-size: 1.5rem;
    padding: 0 0 6.5rem 0;

}

#footer .top {
    width: 120rem;
    margin: 0 auto;
    font-weight: 400;
    font-size: 1.5rem;

}

#footer .bottom {
    border-top: 1px solid #666;
    width: 120rem;
    margin: 0 auto;
    font-weight: 300;
    font-size: 1.3rem;
    color: #ddd;
}



#footer .top dt,
#footer .top dd {
    display: inline-block;

}

#footer .top dt::before,
#footer .top dd~dd::before {
    content: "";
    display: inline-block;
    margin: 0 1.5rem;
    width: 1px;
    height: 1rem;
    background: #ddd;
}

#footer .top i {
    font-size: 2rem;
}


#footer .container {
    justify-content: space-between;
    display: flex;

}




#footer .bottom address {
    font-style: normal;
}

#footer .bottom select {
    font-size: 1.2rem;
    text-transform: uppercase;
    background: transparent;
    color: #ddd;
    padding: 0.5rem 1.5rem;
    border: 1px solid #666
}

#footer .bottom option {
    color: #fff;
    background: #333;
}

#footer #family_link {
    font-size: 1.3rem;
}


#footer .address dl {
    display: flex;
    width: 120rem;
    line-height: 2.5rem;


}

#footer .address dl dd~dd {
    margin: 0 1rem;

}

.mopen {
    display: none;
}


@media (max-width: 768px) {

    /** {
    outline: 1px solid #f00;
}*/
    .container {
        width: auto;
        padding: 0 3rem;
    }

    html {
        font-size: 10px;
    }

    body {
        font-size: 1.6rem;
        letter-spacing: -0.025rem;
    }


    .Wrap {
        position: relative;
        overflow-x: hidden;
        min-width: 100%;
        height: calc(var(--vh, 1vh) * 100);
    }


    #header {
        position: fixed;
        left: -100%;
        top: 0;
        width: 100%;
        box-sizing: border-box;
        z-index: 999;
        padding: 1rem 3rem;
        justify-content: flex-start;
        height: 100vh;
        width: 100%;
        min-width: 32rem;
        display: flex;
        flex-direction: column;
        color: #fff;
        line-height: 4rem;
        transition: 0.5s;
        z-index: 999;
        background: #333;

    }

    #header.on {
        background: rgba(0, 0, 0, 1);
    }

    #header.ox {
        left: 0;
    }


    #header h1 {

        font-size: 0;
        position: fixed;
        top: 3.5rem;
        left: 3rem;
    }

    #header img {}


    #header .top>ul {
        display: flex;
        gap: 1.5rem;
        line-height: 5rem;




    }


    .gnb a {
        display: block;

    }

    #header .top {
        padding: 0;
    }

    #header .top .right {
        font-size: 3.5vw;
        font-weight: 300;
        color: #ddd;
        width: 100%;
        margin: 0 0 0 0;
        transform: translateY(10vh);


    }

    #header .top i {
        transform: translate(35%, 10%);
        font-size: 2.1rem;
    }

    .gnb a {
        display: block;
    }

    .gnb {
        position: relative;
        border-bottom: 0px solid rgba(255, 255, 255, 0.3);
        margin-top: 7rem;





    }

    .gnb .box {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        width: 100%;



    }

    .gnb .box>ul {

        display: flex;
        gap: 0;
        font-weight: 500;
        font-size: 1.5rem;
        color: #fff;
        line-height: 5rem;
        flex-direction: column;
        width: 100%;
        padding: 0 1.5rem;


    }

    .gnb .box>ul>li {
        position: relative;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        text-align: left;


        /*border-right: 1px solid #ddd;*/


    }

    /*.gnb .box>ul>li:last-child {
    border-right: 1px solid #ddd;
}*/




    #header .box>ul>li:hover .smenu {
        display: block;

    }


    #header .gnb .smenu {
        position: static;
        display: none;
        transform: translateX(0%);
        border-top: 0.3rem solid #00256c;
        background: rgb(0, 0, 0, 0.3);
        width: 100%;
        z-index: 999;
        text-align: center;
        font-size: 1.5rem;


    }

    #header .gnb .smenu li {
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        padding: 0.5rem 0;
        font-weight: 300;
        font-size: 1.3rem;
        line-height: 2.5rem;
    }



    .sitemap {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: rgba(0, 0, 0, 0.5);
        color: #fff;
        width: 120rem;
        padding: 5rem 3rem;
        z-index: 999;
        line-height: 3rem;
        font-weight: 200;
        border-radius: 1rem;

    }

    .sitemap .container {
        display: flex;
        justify-content: center;
        gap: 3rem;
        font-weight: 400;
        font-size: 2.1rem;




    }

    .sitemap .smenu {
        font-size: 1.5rem;
        font-weight: 300;
        margin: 0 0 1rem 0;
        padding: 1rem 0 0 0;
        color: #ddd
    }

    .sitemap i {
        position: absolute;
        top: 3rem;
        right: 4rem;
    }

    #main {
        padding-top: 0;
        padding-bottom: 0;
    }


    #main-visual {
        position: relative;
        height: 100vh;
        background: #333;
        color: #fff;

    }

    #main-visual figure {
        height: 100vh;
        transition: 5s linear;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }



    #main-visual .visual_01 {
        background-image: url(../img/main_slider01.jpg);

    }

    #main-visual .visual_02 {
        background-image: url(../img/main_slider02.jpg);

    }

    #main-visual .visual_03 {

        background-image: url(../img/main_slider03.jpg);

    }

    #main-visual figure.on {
        background-size: cover;
    }


    #main-visual .slogan-text {
        position: absolute;
        top: 35%;
        left: 50%;
        padding: 0 0.75rem;
        text-align: left;
        width: auto;
        transform: translateX(-50%);
        z-index: 999999;

    }

    #main-visual .inner {
        position: absolute;
        left: 50%;
        bottom: 0%;
        width: auto;
        transform: translate(-50%, -30%);

    }

    #main-visual .inner ul {
        display: flex;
        flex-direction: column;
        gap: 0rem;
        line-height: 0rem;
    }

    #main-visual .inner ul li {
        line-height: 4rem;
        font-size: 2.5rem;
        width: 50vw;
        font-weight: 400;
        font-size: 5vw;

    }

    #main-visual .inner ul li a {
        float: right;
    }

    #main-visual .inner ul li span {
        font-family: xeicon;

    }


    #main-visual h2 {
        margin: 0 0 1vh 0;
        font-weight: 900;
        letter-spacing: 0.2rem;
        font-size: 12vw;
        text-align: center;

    }

    #main-visual span {
        font-family: xeicon;

    }

    #main-visual p {
        text-indent: 0;
        font-size: 4vw;
        font-weight: 400;
        line-height: 4.5vw;
        text-align: center;
        margin: 0 0 0 0;
    }

    #main-visual .slick-dots {
        position: absolute;
        bottom: rem;
        width: 100%;
        text-align: center;
        font-size: 0;

    }

    #main-visual .slick-dots button {
        display: none;
    }

    #main-visual .slick-dots li {
        display: none;
        width: 64rem;
        height: 0.25rem;
        background: #f2f2f2;
        cursor: pointer;
    }

    #main-visual .slick-dots {
        position: absolute;
        height: 0.7rem;
        background: transparent
    }

    #main-visual .slick-dots::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: #fff;
    }

    #main-visual .slick-dots.on::after {
        width: 100%;
        transition: 5.2s;
    }

    #main-visual i {
        position: absolute;
        top: 50%;

        transform: translate(-50%, -50%);
        font-size: 0;
        font-weight: 100;
        padding: 1rem;
        cursor: pointer;
        z-index: 99999;





    }

    #main-visual i.xi-angle-left-thin {
        margin-left: -90vw
    }



    .product {
        padding: 5rem 0;




    }

    .now {
        padding: 0 0 5rem 0;
        position: relative;
    }

    .product h2::after {
        position: absolute;
        content: "";
        width: 30rem;
        height: 1px;
        inset: 50% 0 0 50%;
        transform: translate(-50%, 0.8rem);
        background: #ccc
    }

    .product p {
        text-align: center;
        width: 10rem;
        margin: 0 auto;
        line-height: 3rem;

    }

    .now .product_pic {

        margin: 0 auto;
        gap: 3rem;



    }

    .now .product_pic .box {
        border-radius: 1rem;
        padding: 7rem 0 4rem 0;
    }

    .now .product_pic figure {
        position: relative;
        z-index: 999;
        padding: 0 5rem;
        flex: 1;






    }

    .now .product_pic figure img {
        transform: translateX(0%);
        border-radius: 1rem;
        margin: 0 0 1rem 0;
        transition: 0.5s;


    }


    .now .product_pic figure.slick-center img {

        transform: scale(1.2);
        transition: transform 0.5s;
    }

    .now .product_pic figure:hover img {
        transform: scale(1.2);
        filter: brightness(0.5);
        cursor: pointer;

    }


    .now .product_pic figure span {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -150%);
        font-size: 1.5rem;
        font-weight: 300;
        opacity: 0;
        color: #FFF;
        width: 20rem;

        height: 5rem;
        cursor: pointer;
        text-align: center;
        line-height: 5rem;
        z-index: 999;

    }

    .now .product_pic figure span::after {
        position: absolute;
        content: "";
        width: 18rem;
        height: 3rem;
        inset: 50% 0 0 50%;
        transform: translate(-50%, 3.5rem);
        background: #fff;
        /*border: 1px solid #fff;*/
        opacity: 0.3;
        border-radius: 3rem;

    }

    .now .product_pic figure:hover span {
        opacity: 1;

    }

    .now .product_pic .slick-dots {
        text-align: center;
        transform: translateY(250%);
    }

    .now .product_pic .slick-dots li {
        display: inline-block;
        margin: 0 0.2rem;
    }

    .now .product_pic .slick-dots li button {

        border: none;
        outline: none;
        background: #00256c;
        padding: 0;
        vertical-align: top;
        color: #fff;
        border-radius: 0.2rem;
        width: 2rem;
        height: 2rem;
        font-size: 1.2rem;
        line-height: 2rem;
    }

    .now .product_pic .slick-dots li.slick-active button {

        background: #ccc;
    }

    .now .productArrows {
        position: relative
    }

    .now .productArrows i {
        position: absolute;
        inset: 50% auto auto 50%;
        transform: translate(-50%, 50%);
        font-size: 3rem;
        background: #ddd;
        color: #fff;
        border-radius: 0.5rem;
        padding: 0.5rem;
    }

    .now .productArrows i:nth-child(1) {
        margin: 0 0 0 -54.5rem;
    }

    .now .productArrows i:nth-child(2) {
        margin: 0 0 0 54.5rem;
    }

    .sub_title {
        position: relative;
        text-align: center;
        margin: 0 0 0 0;

    }

    .sub_title h2 {
        font-size: 6vw;
        color: #333;
        line-height: 5rem;
        font-weight: 700;
    }

    .sub_title h3 {
        font-size: 4vw;
        color: #333;
        font-weight: 300;
        line-height: 25px;
    }

    .sub_title p {
        font-size: 1.7rem;
        color: #333;
        font-weight: 200;


    }


    .sub_title p::after {
        position: absolute;
        content: "";
        width: 28rem;
        height: 1px;
        inset: 50% 0 0 50%;
        transform: translate(-50%, rem);
        background: #DDD
    }


    .now .product_pic figure h3 {
        font-size: 1.9rem;
        font-weight: 700;
        text-align: center;
        line-height: 3rem;
        letter-spacing: 0.1rem;

    }

    .now .product_pic figure p {
        font-size: 1.1rem;
        width: 20rem;
        line-height: 2rem;
    }

    .now h4 {
        font-weight: 300;
        position: relative;
        text-align: center;
        margin: 0 0 2rem 0;


    }

    .now h4::after {
        position: absolute;
        content: "";
        width: 25rem;
        height: 0.3px;
        inset: 170% 0 0 50%;
        transform: translate(-50%, -50%);
        background: rgb(204, 204, 204)
    }

    .now .price ul {
        display: flex;
        justify-content: space-between;
        margin: 0 0 0 0;
        font-weight: 500;
        font-size: 1.3rem;

    }

    .video {
        position: relative;
        background: #f9f9f9;
        padding: 5rem 0;
    }

    .movie {
        position: static;
        left: 0;
        top: 0;
        width: 100vw;
        height: 30vh;
        text-align: center;
        color: #fff;
        z-index: 77;
        border-radius: 0px;
        object-fit: cover;
        transition: all 1s;
        margin: 0 0 1vh 0;
    }

    .movie.on {
        transition: all 1s;
        transform: translate(-129rem, 44.5rem);
        transition-duration: 1s;
        transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000);

    }



    /*  
*/

    .mbYTP_wrapper {
        border-radius: 0px;
    }


    .video .controls {
        font-size: 3rem;
        line-height: 10rem;
        margin: 0 0 10rem 0
    }

    .movie .player i {
        font-size: 2rem;

    }

    .movie .player span {
        font-size: 2.5rem;
        font-family: 'Noto Serif KR', serif;
        line-height: 3.2rem;
        font-weight: 700;
    }

    .video .player h2::after {

        position: absolute;
        content: "";
        width: 27rem;
        height: 1px;
        inset: 50% 0 0 50%;
        transform: translate(-50%, 6.1rem);
        background: #ccc;

    }

    .movie .player p {
        font-size: 1.3rem;
        font-weight: 300;
        margin: 0 0 2rem 0;
    }

    .video .sub_title {
        margin: 0 0 5rem 0;
        font-size: 1.5rem;
        color: #000;
        font-weight: 300;
        line-height: 2.5rem;
    }

    .video .sub_title h2::after {
        position: absolute;
        content: "";
        width: 30rem;
        height: 1px;
        inset: 50% 0 0 50%;
        transform: translate(-50%, 8px);
        background: #ccc
    }


    .video .container {
        position: relative;
        max-width: 60%;
        min-width: 78rem;
        margin-left: auto;
        padding: 0 0 0 1.5rem;
    }

    .video .text h2 {
        font-size: 4vw;
        font-weight: 700;
        color: #333;
        line-height: 3rem;
        margin: 0 0 0 0;
        text-align: center;

    }

    .video .text p {
        font-size: 3.5vw;
        font-weight: 300;
        color: #333;
        margin: 0 0 7rem 0;
        text-align: center;
        padding: 0 1.5rem;
        line-height: 1.7rem;

    }


    .video .fly {}

    .video .fly .content {
        display: flex;
        gap: 4rem;
        margin: 0 0 1.5rem 0;

    }

    .video .fly h3 {
        display: block;
        font-size: 1.7rem;
        font-weight: 500;
        color: white;
        transform: translate(-15rem, 2.5rem);
        text-align: right;
    }


    .video .fly img {
        border-radius: 1rem;
        width: 100%;
        height: auto;


    }

    .video .fly .inner {

        /* border: 1px solid #ccc;*/
        border-radius: 1rem;
        width: 10rem;
        transform: translateY(-1.5rem);




    }



    .video .fly .inner ul {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 3.5rem;
        display: none;
        justify-content: space-around;
        width: 70rem;
        border-bottom: 0.5px solid #ddd;
        transform: translateY(1.5rem);
        margin: 0 0 2rem 0;


    }

    .video .fly .inner ul li {
        flex: 1;
    }

    .video .fly .inner ul li:nth-child(2) {
        font-weight: 400;
    }




    .video .fly .inner ul li strong {
        color: #999;
        font-weight: 300;
    }

    .video .fly .inner ul li span {
        font-family: xeicon;
    }

    .video .productArrows {
        position: relative
    }

    .video .productArrows i {
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-50%, 0%);
        font-size: 3rem;
        background: #ddd;
        color: #fff;
        border-radius: 1rem;
        padding: 0.5rem;
        z-index: 999;
        height: 20rem;
        width: 17.5rem;
        text-indent: 0.5rem;
    }

    .video .productArrows i:nth-child(1) {
        display: none;
    }

    .video .productArrows i:nth-child(2) {
        margin: 0 0 -30% 0;
    }


    /*.video .fly .inner ul>li:nth-child(1) {
    padding: 0 13rem 0 0;
    border-right: 1px solid #ccc;
}

.video .fly .inner ul>li:nth-child(2) {
    padding: 0 13rem 0 0;
    border-right: 1px solid #ccc;
}*/


    .news {
        padding: 5rem 0;
        position: relative;


    }


    .news h2 {
        margin: 0 0 6rem 0;
        font-size: 2.7rem;
        font-weight: 700;
        color: #333;
        text-align: center;
    }

    .news .select {
        display: none;
        justify-content: space-between;
        width: 100%;
        margin: 0 auto;
        padding: 0 1.5rem;

    }

    .news .more {
        font-size: 1.5rem;
        font-weight: 300;
        height: 2.5rem;
        line-height: 2.5rem;
    }

    .news .select ul {
        display: flex;
        gap: 3rem;
        font-size: 1.7rem;
        font-weight: 500;
        height: 2.5rem;
        line-height: 2.5rem;
        margin: 0 0 4rem 0;
    }


    .news .select ul>li.on {
        background: #00256c;

        color: #fff;
        width: 100%;
        text-align: center;
    }



    .news .slick-dots {
        text-align: center;

    }

    .news .slick-dots li {
        display: inline-block;
        margin: 0 0.2rem;
    }

    .news .slick-dots li button {

        border: none;
        outline: none;
        background: #00256c;
        padding: 0;
        vertical-align: top;
        color: #fff;
        border-radius: 0.2rem;
        width: 2rem;
        height: 2rem;
        font-size: 1.2rem;
        line-height: 2rem;
    }

    .news .slick-dots li.slick-active button {

        background: #ccc;
    }

    .case {
        width: 100%;
        display: flex;
        overflow: hidden;
        margin: 0 auto;


    }

    .case>* {
        min-width: 0;
    }

    .board {
        min-width: 0;
        overflow: hidden;
        margin: 0 auto;
        position: relative;
        padding: 0 3rem;

    }



    .board .script .sub_title {
        display: flex;
        gap: 1.7rem;

    }

    .board .script figure {

        margin: 0 0 1.7rem 0;
    }

    .board .script figure img {
        border-radius: 1rem;
        width: 100%;
        height: auto;

    }


    .board .script span {
        font-size: 1.5rem;
        font-weight: 500;
        margin: 0 0 1rem 0;
        width: 6.7rem;
        text-align: left;
    }

    .board .script .caption {
        font-size: 1.3rem;
        font-weight: 300;
        line-height: 1.5rem;
    }

    .board .script h3 {
        font-size: 2.1rem;
        margin: 0 0 1rem 0;
        line-height: 3rem;
        letter-spacing: -0.025em;
    }

    .board .script p {
        font-size: 1.3rem;
        font-weight: 300;
        color: #8d8d8d;
        margin: 0 0 3rem 0;
        line-height: 1.9rem;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        min-width: 0;
        width: 28rem;
    }

    .board .script .keyword {
        font-size: 1.3rem;
        font-weight: 500;
        color: #8d8d8d;
        margin: 0 0 3rem 0;

    }

    .board .script .news_more {
        font-size: 1.3rem;
        font-weight: 500;
        margin: 0 0 3rem 0;
        border: 0.2rem solid #ddd;
        display: inline-block;
        padding: 1rem 2rem;


    }





    .board .script::after {
        content: "";
        display: none;
        width: 27rem;
        height: 1px;
        background: #00256c;



    }



    .nemo {
        display: none;
        background: #00256c;
        border-radius: 1rem;
        flex: 1;
    }

    .nemo h3 {
        padding: 6rem 0 0 0;
        font-size: 3.5rem;
        font-weight: 700;
        color: #fff;
        text-align: center;
        margin: 0 0 0.5rem 0;


    }

    .nemo p {
        text-align: center;
        font-size: 1.7rem;
        font-weight: 300;
        color: #fff;
        margin: 0 0 7rem 0;

    }






    .nemo::after {
        content: "";
        display: block;
        width: 30rem;
        height: 1px;
        background: #FFF;


    }

    .nemo .productArrows {
        position: relative;
    }

    .nemo .productArrows i {
        position: absolute;
        left: 81.5%;
        bottom: -33rem;
        transform: translate(-50%, 50%);
        font-size: 2rem;
        color: #fff;
        border-radius: 0.5rem;
        padding: 0.5rem;
        line-height: 1.4rem;

    }

    .nemo .productArrows i:nth-child(1)::after {

        position: absolute;
        content: "back";
        display: block;
        left: 1.4rem;
        top: 2.7rem;
        transform: translate(-50%, -50%);
        font-weight: 100;


    }

    .nemo .productArrows i:nth-child(2)::after {

        position: absolute;
        content: "next";
        display: block;
        left: -0.2rem;
        top: 2.1rem;
        font-weight: 100;




    }

    .nemo .productArrows i:nth-child(1) {
        margin-left: -19rem;
    }

    .nemo .productArrows i:nth-child(2) {
        margin-right: 1rem;
    }


    .Premium {

        background: #f9f9f9;
        padding: 5rem 0;
        text-align: center;
    }


    .Premium .dec {
        font-size: 1.3rem;
        font-weight: 400;
        margin: 0 0 2rem 0;
        line-height: 1.5;
        color: #333;
    }

    .Premium .container {
        display: flex;
        width: 100%;
        overflow-x: hidden;
        margin: 0 auto;
        flex-wrap: wrap;
        gap: 3rem;
        flex-direction: column;
        padding: 0 3rem;

    }


    .Premium h2 {
        position: relative;
        font-size: 3rem;
        font-weight: 700;
        text-align: center;
        margin: 0 0 2rem 0;
        color: #333;
    }

    .Premium h2::after {
        position: absolute;
        content: "";
        width: 30rem;
        height: 1px;
        inset: 50% 0 0 50%;
        transform: translate(-50%, 2.5rem);
        background: #ccc
    }

    .Premium h3 {
        font-size: 1.7rem;
        font-weight: 300;
        text-align: center;
        margin: 0 0 8rem 0;
        color: #333;
    }

    .Premium p {

        font-size: 1.5rem;
        font-weight: 300;
        text-align: center;
        margin: 0 0 4rem 0;
        color: #333;
    }

    .Premium strong {
        display: block;
        margin: 0 0 1rem 0;
        font-size: 1.4rem;

    }



    .Premium .container figure {
        position: relative;
        width: 100%;


    }

    .Premium .container figure::before {
        content: "";
        position: absolute;
        width: 15rem;
        height: 0rem;
        border-top: 2rem solid #00256c;
        border-bottom: 2rem solid #00256c;
        border-left: 2rem solid #00256c;
        border-right: 2rem solid transparent;
        top: 1rem;
        left: -2rem;
        z-index: 999;


    }


    .Premium .container figure::after {
        content: attr(data-title);
        position: absolute;
        top: 2.2rem;
        left: -0.8rem;
        z-index: 999;
        color: #fff;
        font-size: 1.3rem;
        font-weight: 300;
        letter-spacing: 0.1rem;

    }

    .Premium .container .box {
        overflow: hidden;
        margin: 0 0 2rem 0;
        width: 100%;
        height: auto;
        border-radius: 1rem;

    }

    .Premium .container .dec {
        width: 100%;
    }

    .Premium .container .box img {
        transition: 0.5s;
    }

    .Premium .container .box:hover img {
        transform: scale(1.07);
    }

    .Premium figure:nth-child(1) {
        transform: translate(0, 0);
        opacity: 1;
        transition: 0s;
    }


    .Premium figure:nth-child(2) {
        transform: translate(0, 0);
        opacity: 1;
        transition: 0s;
    }


    .Premium figure:nth-child(3) {
        transform: translate(0, 0);
        opacity: 1;
        transition: 0s;
    }


    .Premium figure:nth-child(4) {
        transform: translate(0, 0);
        opacity: 1;
        transition: 0s;
    }



    #footer {
        background: #333;
        color: #fff;
        line-height: 4rem;
        font-size: 1.5rem;
        padding: 0 0 0 0;

    }

    #footer .top {
        width: 100%;
        padding: 2rem 0;
        font-weight: 300;
        font-size: 1.3rem;

    }

    #footer .bottom {
        border-top: 1px solid #666;
        width: 100%;
        padding: 2rem 0;
        font-weight: 300;
        font-size: 1.3rem;
        color: #ddd;
    }



    #footer .top dt,
    #footer .top dd {
        display: block;


    }

    #footer .top dt::before,
    #footer .top dd~dd::before {
        content: "";
        display: none;
        margin: 0 1.5rem;
        width: 1px;
        height: 1rem;
        background: #ddd;
    }

    #footer .top i {
        font-size: 2rem;
    }


    #footer .container {
        justify-content: space-between;
        display: flex;
        gap: 0.5rem
    }


    #footer .bottom .container {
        margin: 0 0 1rem 0;
    }

    #footer .bottom img {
        width: 19rem;


    }

    #footer .bottom address {
        font-style: normal;
        display: block;
        text-align: center;
        padding: 3rem 0;


    }

    #footer .bottom select {
        font-size: 1.2rem;
        text-transform: uppercase;
        background: transparent;
        color: #ddd;
        padding: 0.5rem 0.5rem;
        border: 1px solid #666;

    }

    #footer .bottom option {
        color: #fff;
        background: #333;
    }

    #footer #family_link {
        font-size: 1.3rem;

    }


    #footer .address dl {
        display: flex;
        width: 100%;
        line-height: 2.3rem;
        flex-direction: column;
        padding: 0 3rem;



    }

    #footer .address dl dd~dd {
        margin: 0 0 0 0;

    }


    .mopen {
        display: block;
        position: fixed;
        top: 3rem;
        right: 3rem;
        z-index: 99999999;
        font-size: 0;
        width: 3rem;
        height: 3rem;
        background: #eee;
        border-radius: 0.3rem;

    }

    .mopen button {
        border: none;
        outline: none;
        background: transparent;
    }

    .mopen::before {
        top: 7px
    }

    .mopen::after,
    .mopen::before {

        content: "";
        position: absolute;
        left: 5px;
        right: 5px;
        height: 2px;
        background: #333;
    }

    .mopen::after {
        bottom: 7px;
    }


    .mopen button::before,
    .mopen button::after {

        content: "";
        position: absolute;
        left: 5px;
        right: 5px;
        height: 2px;
        background: #333;
        top: calc(50% - 1px);
    }

    .mopen.on::before,
    .mopen.on::after {
        opacity: 0;
    }

    .mopen.on button::before {
        transform: rotate(45deg);
    }

    .mopen.on button::after {
        transform: rotate(-45deg);
    }

    .mclone {
        display: none;
    }
}