.top_banner {

    padding: 30px 0;
    background: rgba(0, 0, 0, 0.9)
}

.top_banner .inner {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}

.top_banner h2 {
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 20px 0;
    color: #ddd;
}

.top_banner p {
    font-size: 15px;
    font-weight: 300;
    color: #ddd;


}

.top_banner a {
    margin: 0 0 0 10px;
    padding: 5px 20px;
    background: #333;
    color: #fff
}

.top_banner i {
    position: absolute;
    inset: 0 0 auto auto;
    font-size: 21px;
    color: #ddd;
    cursor: pointer;
}


.gnb_box {
    background: #fcb814;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
    padding: 25px 0;
}


.container h1 {
    line-height: 50px;
    width: 300px;
}

.gnb i {
    line-height: 33px;
    font-size: 21px;

}

.gnb a {
    display: block;

}

.gnb>ul {
    display: flex;
    gap: 50px;
    line-height: 50px;
    font-weight: 500;
    color: #fff
}

.gnb>ul>li {
    position: relative;
}

.gnb>ul>li .smenu01 {
    position: absolute;
    top: 10px;
    left: 50%;
    width: 160px;
    text-align: center;
    transform: translate(-50%, -30%);
    background: #fcb814;
    color: #fff;
    border: 2px solid #fff;
    line-height: 40px;
    opacity: 0;
    visibility: hidden;
    z-index: 999;
}



.gnb>ul>li .smenu01>li {

    border-bottom: 2px solid #fff;
}

.gnb>ul>li .smenu02 {
    position: absolute;
    top: 10px;
    left: 50%;
    width: 160px;
    text-align: center;
    transform: translate(-50%, -30%);
    background: #fcb814;
    color: #fff;
    border: 2px solid #fff;
    line-height: 40px;
    opacity: 0;
    visibility: hidden;
    z-index: 999;
}



.gnb>ul>li .smenu02>li {

    border-bottom: 2px solid #fff;
}



.gnb>ul>li:hover .smenu01 {
    top: 120px;
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
}

.gnb>ul>li:hover .smenu02 {
    top: 70px;
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
}

.main_visual .main_slider figure {
    height: 50vh;
}

.main_visual .main_slider .itm01 {
    background: url(../img/main_visualdemo.jpg) no-repeat center center/cover;


}

.main_visual .main_slider .itm02 {
    background: url(../img/main_visual02.jpg) no-repeat center center/cover;


}

.main_visual .main_slider .itm03 {
    background: url(../img/main_visual03.jpg) no-repeat center center/cover;


}

.main_visual .main_slider .itm04 {
    background: url(../img/main_visual04.jpg) no-repeat center center/cover;


}

.move .img_moving {
    position: relative;
    padding: 110px;
}

.move .img_moving .menu {

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background: transparent url(../img/moving_menu03.png) repeat-x left top;
    animation: movement 7000s linear infinite;
    /*슬릭슬라이드 스피드0으로해서 해보기*/
}


@keyframes movement {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 100000% 0;

    }
}





.main_visual .main_slider figure {
    position: relative;
}

.main_visual .main_slider .inner {
    position: absolute;
    inset: -1% 0 50% 53.2%;
}

.main_visual .main_slider .inner span {
    font-size: 200px;
    font-weight: 900;
    opacity: 0.1;
    display: block;
    transform: translate(-7%, 37%);
    color: #fcb814
}

.main_visual .main_slider .inner h2 {
    font-size: 65px;
    font-weight: 900;
    display: block;
    margin: 0 0 5px 0;

}



.main_visual .main_slider .itm04 .inner h2 {
    font-size: 65px;
    font-weight: 900;
    display: block;
    margin: 0 0 15px 0;

}



.main_visual .main_slider .itm04 .inner p {
    font-size: 26px;
    font-weight: 700;
    margin: 0 0 25px 0;
    color: #fcb814;
    transform: translateX(1%);
    letter-spacing: 0.01rem;
}

.main_visual .main_slider .inner p {
    font-size: 26px;
    font-weight: 700;
    margin: 0 0 35px 0;
    color: #fcb814;
    transform: translateX(1%);
    letter-spacing: 0.01rem;
}

.main_visual .main_slider .inner a {
    line-height: 10px;
    font-size: 13px;
    font-weight: 400;
    padding: 7px 10px;
    border-radius: 10px;
    border: 1px solid #b4b4b4;
    color: #b4b4b4;
}

.main_visual .main_slider .inner .more {
    transform: translateX(1%);
}


.main_visual .main_slider .slick-dots {
    position: absolute;
    inset: auto auto 125px 75.2%;
    transform: translate(-50%);
}

.main_visual .main_slider .slick-dots li {
    display: inline-block;
}

.main_visual .main_slider .slick-dots li button {
    border-radius: 50%;
    outline: none;
    border: none;
    width: 15px;
    height: 15px;
    margin: 0 5px;
    color: #ffd161;
    background: #ffd161;

}

.main_visual .main_slider .slick-dots li.slick-active button {
    background: #fcb814;
    color: #fcb814;
    width: 30px;
    height: 15px;
    padding: 0 20px;
    border-radius: 30px;
    transition: 0.5s;

}

.main_visual .main_slider figure .deco {
    transform: translateX(100px);
    opacity: 0;
}

.main_visual .main_slider figure.on .deco {
    transform: translateX(0px);
    opacity: 1;
    transition: 2s;
}

.main_visual .main_slider figure h2 {

    opacity: 0;
}

.main_visual .main_slider figure.on h2 {

    opacity: 1;
    transition: 0.5s;
}

.main_visual .main_slider figure p {

    opacity: 0;
}

.main_visual .main_slider figure.on p {

    opacity: 1;
    transition: 0.5s 0.5s;
}

.main_visual .main_slider figure a {

    opacity: 0;
}

.main_visual .main_slider figure.on a {

    opacity: 1;
    transition: 0.5s 1s;
}


.find h2 {
    text-align: center;
    font-size: 37px;
    font-weight: 700;
    color: #000;
    margin: 105px 0 105px 0;


}

.find_it {}

.container {
    display: flex;
    gap: 100px;
    width: 1200px;
    margin: 0 auto;
}

.container>ul {
    flex: 1;
}



.find {}

.sub_logo {
    padding: 100px 0;
    position: relative;

}

.sub_logo figure {
    position: absolute;
    inset: 50% 0 0 50%;
    transform: translate(-13%, -30%);

}


.find_menu>li>a {
    display: block;
    line-height: 40px;
    padding: 0 15px;
    background: #fff;
    color: #333;
    font-weight: 700;


}

.find_menu>li.on>a {
    background: #fcb814;
    color: #fff;

}

.find_menu>li {
    border-bottom: 1px solid #b4b4b4;
    width: 280px;


}


.find_content {
    position: relative;

}

.find_content>li {
    position: absolute;
    display: none;
    font-size: 0;
}


.find_menu {
    position: relative;

}

.find_menu .busan li a {
    padding: 0 15px;
}

.find_menu .busan li {

    border-bottom: 1px solid #b4b4b4;
}

.find_menu .busan {
    position: absolute;
    width: 280px;
    inset: -248px auto auto 300px;
    color: #333;
    border: 2px solid #fff;
    line-height: 40px;
    z-index: 999;
    font-weight: 300;


}

.busan>li.on {
    background: #fcb814;
    color: #fff;
}

.find .container .place {

    position: relative;
}

.find .container figure {
    margin: 0 0 160px 0;
    transform: translate(-60px, 17px);
}


.find .container .place:hover figure {
    filter: brightness(0.3)
}




.find .container .place:hover p {
    opacity: 1;
    transition: 0.5s;
}


.find .container p {
    opacity: 0;
    position: absolute;
    inset: 200px 0 10px 20px;
    color: #ddd;
    font-family: 700;
    font-size: 15px;
    line-height: 30px;

}



.footer {
    padding: 100px 0;
    text-align: center;
    background-color: #fcb814;
}